.login-container {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
}

/* LEFT CARD */
.login-card {
  width: 420px;
  background: white;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.login-card h2 {
  margin-bottom: 30px;
  font-weight: 700;
}

/* INPUT WRAPPER */
.input-wrapper {
  position: relative;
  margin-bottom: 15px;
}

/* INPUT */
.login-input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 0 45px 0 15px;
  font-size: 14px;
}

/* ICON */
.input-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  opacity: 0.6;
}

.clickable {
  cursor: pointer;
}

/* BUTTON */
.login-button {
  height: 45px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(90deg, #2b2e83, #2da3dc);
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

/* RIGHT BG */
.login-bg {
  flex: 1;
  background-image: url("../Picture/Logo2.png");
  background-size: 200px;
  background-repeat: repeat;
  opacity: 0.25;
}
