.layout {
  display: flex;
  min-height: 100vh;
  background: #eef2f6;
}

/* RIGHT AREA */
.layout-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}

/* CONTENT */
.layout-content {
  padding: 25px;
  width: 100%;
  overflow-x: hidden;
}
