.layout {
  display: flex;
  min-height: 100vh;
  background: #eef2f6;
}

/* RIGHT AREA */
.layout-right {
  flex: 1;
  margin-left: 220px;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.35s ease;
}

/* FULL MODE (Sidebar Close) */
.layout-right.full {
  margin-left: 0;
}

/* CONTENT */
.layout-content {
  padding: 25px;
  width: 100%;
  overflow-x: hidden;
}
