.layout {
  display: flex;
  min-height: 100vh;
  background: #eef2f6;
}

/* RIGHT AREA */
.layout-right {
  flex: 1;
  margin-left: 220px;
  display: flex;
  flex-direction: column;

  transition: margin-left 0.32s cubic-bezier(0.4,0,0.2,1);
}

.layout-right.full {
  margin-left: 0;
}

/* CONTENT */
.layout-content {
  padding: 25px;
  width: 100%;
  overflow-x: hidden;
}
