.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100vh;

  background: linear-gradient(180deg,#1e3a8a,#0ea5e9);
  color: white;

  padding: 26px 18px;
  display: flex;
  flex-direction: column;

  transform: translateX(0);
  transition: transform 0.38s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;

  z-index: 999;
}

/* CLOSE */
.sidebar.close {
  transform: translateX(-100%);
}


.sidebar-menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* OPEN */
.sidebar.open {
  transform: translateX(0);
}

/* CLOSE (SLIDE OUT) */
.sidebar.close {
  transform: translateX(-100%);
}

/* LOGO */
.sidebar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.logo-full {
  width: 170px;
  border-radius: 10px;
  background: white;
  padding: 2px;
  margin-bottom: 12px;
}

/* TEXT + GARIS */
.logo-text {
  font-size: 13px;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 10px;
}

.logo-text::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 120px;
  height: 2px;
  background: rgba(255,255,255,0.7);
  border-radius: 2px;
}

/* MENU */
.menu-title {
  font-size: 12px;
  margin-bottom: 12px;
  opacity: 0.7;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  transition: all 0.2s;
}

.menu-item:hover {
  background: rgba(255,255,255,0.15);
}

.menu-item.active {
  background: rgba(255,255,255,0.25);
}
