.topbar {
  height: 60px;
  background: linear-gradient(90deg,#1e3a8a,#0ea5e9);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

/* LEFT GROUP */
.topbar-left-group {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* HAMBURGER */
.topbar-left {
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topbar-left span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 2px;

  transition: all 0.32s cubic-bezier(0.4,0,0.2,1);
}

/* OPEN → X */
.topbar-left.open span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.topbar-left.open span:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}

.topbar-left.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* CUSTOMER SUPPORT TEXT */
.cs-text {
  font-weight: 600;
  font-size: 16px;
  color: white;
  white-space: nowrap;

  transition: all 0.32s cubic-bezier(0.4,0,0.2,1);
}

.cs-text.hide {
  opacity: 0;
  transform: translateX(-10px);
}

.cs-text.show {
  opacity: 1;
  transform: translateX(0);
}

/* RIGHT */
.topbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.topbar-info {
  font-size: 14px;
  opacity: 0.95;
}

/* LOGOUT */
.logout-btn {
  background: rgba(250,0,0,0.8);
  border: none;
  padding: 8px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;

  background: rgba(255,255,255,0.15);
  color: white;

  transition: all 0.25s ease;
}

.logout-btn:not(:disabled){
  background: rgba(250,0,0,0.8);
}

.logout-btn:hover {
  transform: translateY(-1px);
}
