.topbar {
  height: 60px;
  background: linear-gradient(90deg,#1e3a8a,#0ea5e9);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

/* LEFT */
.topbar-left {
  font-size: 26px;
  cursor: pointer;
}

/* RIGHT AREA */
.topbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* TEXT */
.topbar-info {
  font-size: 14px;
  opacity: 0.95;
}

/* LOGOUT BUTTON */
.logout-btn {
  border: none;
  padding: 8px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;

  background: rgba(255,255,255,0.15);
  color: white;

  transition: all 0.25s ease;
}

.logout-btn:hover {
  background: rgba(250, 0, 0, 0.815);
  transform: translateY(-1px);
}

